<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
	<head>
		<!-- meta block -->
		<title>회원가입</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		
		<link rel="shortcut icon" href="/common/favicon/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/common/favicon/icon-16.png" sizes="16x16" />
		<link rel="icon" href="/common/favicon/icon-32.png" sizes="32x32" />
		<link rel="icon" href="/common/favicon/icon-48.png" sizes="48x48" />
		<link rel="icon" href="/common/favicon/icon-96.png" sizes="96x96" />
		<link rel="icon" href="/common/favicon/icon-144.png" sizes="144x144" />
		<!-- end meta block -->
		<script type="text/javascript" src="/codebase/suite.js?v=7.2.5"></script>
		<link rel="stylesheet" href="/codebase/suite.css?v=7.2.5">
		
		<link rel="stylesheet" href="/common/index.css?v=7.2.5">
		<!-- custom sample head -->
	</head>
	<meta charset="utf-8">
	<style>
	#btn {
		float:right;
	}
	</style>
	<body>
		<header class="dhx_sample-header">
			<div class="dhx_sample-header__main">
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="/" class="dhx_sample-header-breadcrumbs__link">파일전송</a>
								</li>
							</ul>
				</nav>
				<h1 class="dhx_sample-header__title">
					<div class="dhx_sample-header__content">
						회원가입
					</div>
				</h1>
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="/user/signin" class="dhx_sample-header-breadcrumbs__link">로그인 화면으로</a>
								</li>
							</ul>
				</nav>
			</div>
		</header>
		<section class="dhx_sample-container">
			<!-- 타임리프 사용 테스트 <div th:text="${fail}"></div>-->
			<div id="form" style="height: 100%; margin: 20px;"></div>
		</section>
		<script src="https://code.jquery.com/jquery-latest.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="/custom/js/join.js"></script>
	</body>
</html>