<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- meta block -->
		<title>로그인</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<link rel="shortcut icon" href="/common/favicon/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/common/favicon/icon-16.png" sizes="16x16" />
		<link rel="icon" href="/common/favicon/icon-32.png" sizes="32x32" />
		<link rel="icon" href="/common/favicon/icon-48.png" sizes="48x48" />
		<link rel="icon" href="/common/favicon/icon-96.png" sizes="96x96" />
		<link rel="icon" href="/common/favicon/icon-144.png" sizes="144x144" />
		<!-- end meta block -->
		<script type="text/javascript" src="/codebase/suite.js?v=7.2.5"></script>
		<link rel="stylesheet" href="/codebase/suite.css?v=7.2.5">
		
		<link rel="stylesheet" href="/common/index.css?v=7.2.5">
		<!-- custom sample head -->
	</head>
	<meta charset="utf-8">
	<style>
	#btn {
		float:right;
	}
	</style>
	<body>
		<header class="dhx_sample-header">
			<div class="dhx_sample-header__main">
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="/" class="dhx_sample-header-breadcrumbs__link">홈 화면으로</a>
								</li>
							</ul>
				</nav>
				<h1 class="dhx_sample-header__title">
					<div class="dhx_sample-header__content">
						로그인
					</div>
				</h1>
				<nav class="dhx_sample-header__breadcrumbs">
					<ul class="dhx_sample-header-breadcrumbs">
								<li class="dhx_sample-header-breadcrumbs__item">
									<a href="/user/signup" class="dhx_sample-header-breadcrumbs__link">회원가입 화면으로</a>
								</li>
							</ul>
				</nav>
			</div>
		</header>
		<section class="dhx_sample-container">
			<div id="form" style="height: 100%; margin: 20px;"></div>
		</section>
		<script src="https://code.jquery.com/jquery-latest.js"></script>
		<script>
			const form = new dhx.Form("form", {
				css: "dhx_widget--bordered",
				padding: 40,
				width: 600,
				rows: [
					{
						type: "input",
						label: "ID",
						labelWidth: "100px",
						value: "",
						name: "id",
						maxlength: "16",
						labelPosition: "left"
					},
					{
						type: "input",
						inputType: "password",
						labelWidth: "100px",
						label: "PASSWORD",
						value: "",
						name: "pwd",
						maxlength: "32",
						labelPosition: "left"
					},
					{
						type: "button",
						text: "로그인",
						size: "medium",
						view: "flat",
						color: "primary",
						name: "send",
						id: "btn",
						disabled: true
					},
				]
			});
			
			const send = form.getItem("send");
			
			// SEND 버튼 입력 값 확인 후 활성화
			// ISSUE: dhtmlx의 afterValidate나 events.on("change")는 화면의 다른 부분 클릭해야 동작
			form.events.on("keydown", function(){
				form.getItem("id").getValue()!="" && form.getItem("pwd").getValue()!=""? send.enable() : send.disable();
			});
	 			
			send.events.on("click", function(){
				const jsonData = JSON.stringify(form.getValue());
				//alert(jsonData);
				$.ajax({
					type: "POST",
					url: '/user/signin',
					contentType: 'application/json', // 서버로 전송하는 데이터 형식
					data: jsonData, // 전송하는 데이터
					dataType: "json", // 서버에서 반환하는 데이터 형식
					success:function(data){
						//alert(data.id);
						location.replace("/" + data.id); // href와의 차이: 이전 페이지로 이동할 수 없다
					}, error:function(data){
						switch (data.status){
							case 401:
								alert('권한없음 - 아이디 혹은 패스워드 틀림');
								break;
							case 500:
								alert('서버측 기타오류');
								break;
							default:
								alert('HTTP 에러 상태 코드: '+data.status);
								break;
						}
					}
				})
				/* dhx.ajax.post("user/signin", jsonData).then(function(data){
					window.location.href = 'home.jsp';
					return true;
				}).catch(function(err){
					console.log(err);
					return false;
				}); */
			});

			/* $(document).ready(function(){
				form.forEach(function(item, index, array) {
					if(item.config.type=="input"){
						//console.log(item.config.value);
						form.events.on("input", function(){
							form.getItem("id").getValue()!="" && form.getItem("pwd").getValue()!=""? send.enable() : send.disable();
						});
					}
				});
	 			 $("input").on("input", (function(){
	 				console.log($("input[name=id]").val());
	 				console.log($("input[name=pwd]").val());
	 				$("input[name=id]").val()!="" && $("input[name=pwd]").val()!=""? send.enable() : send.disable();
	 			}));  
			}); */
		</script>
	</body>
</html>
